<table style="font-size: 12px" class="table table-bordered sticky_table">
  <thead class="tip-parent">
    <tr>
      <th class="initial-stats blank" data-tips="背番号" data-length="10.3%">NO</th>
      <th class="initial-stats" data-tips="試合数" data-length="12.5%">G</th>
      <th class="initial-stats" data-tips="総プレイ時間" data-length="13.4%">MIN</th>
      <th class="initial-stats" data-tips="平均プレイ時間" data-length="16.5%">MINPG</th>
      <th class="initial-stats" data-tips="得点数" data-length="22.1%">PTS</th>
      <th class="initial-stats" data-tips="平均得点数" data-length="24.2%">PPG</th>
      <th class="initial-stats" data-tips="フィールドゴール成功数" data-length="24.5%">FGM</th>
      <th class="initial-stats" data-tips="フィールドゴール試投数" data-length="27.7%">FGA</th>
      <th class="initial-stats" data-tips="フィールドゴール成功率" data-length="31.2%">FG%</th>
      <th class="initial-stats" data-tips="3Pシュート成功数" data-length="36%">3FGM</th>
      <th class="initial-stats" data-tips="3Pシュート試投数" data-length="39.8%">3FGA</th>
      <th class="initial-stats" data-tips="3Pシュート成功率" data-length="43.5%">3FG%</th>
      <th class="initial-stats" data-tips="フリースロー成功数" data-length="46.7%">FTM</th>
      <th class="initial-stats" data-tips="フリースロー試投数" data-length="49.8%">FTA</th>
      <th class="initial-stats" data-tips="フリースロー成功率" data-length="53.1%">FT%</th>
      <th class="initial-stats" data-tips="オフェンスリバウンド数" data-length="55.6%">OR</th>
      <th class="initial-stats" data-tips="ディフェンスリバウンド数" data-length="57.2%">DR</th>
      <th class="initial-stats" data-tips="トータルリバウンド数" data-length="61%">TR</th>
      <th class="initial-stats" data-tips="平均トータルリバウンド数" data-length="62.8%">RPG</th>
      <th class="initial-stats" data-tips="アシスト数" data-length="69%">AS</th>
      <th class="initial-stats" data-tips="平均アシスト数" data-length="70.8%">APG</th>
      <th class="initial-stats" data-tips="ターンオーバー数" data-length="72.9%">TO</th>
      <th class="initial-stats" data-tips="スティール数" data-length="76.2%">ST</th>
      <th class="initial-stats" data-tips="平均スティール数" data-length="78.6%">STPG</th>
      <th class="initial-stats" data-tips="ブロックショット数" data-length="81.2%">BS</th>
      <th class="initial-stats" data-tips="平均ブロックショット数" data-length="82.8%">BSPG</th>
      <th class="initial-stats" data-tips="ファウル数" data-length="89%">F</th>
    </tr>
  </thead>
  <% @team.players.each do |player| %>
    <tbody>
      <tr>
        <th>
          <% if player.number.present? %>
            <%= link_to player.number, player, class: "hover-white" %>
          <% else %>
            ー
          <% end %>
        </th>
        <td><%= player.game_count %></td>
        <td><%= player.play_time %></td>
        <td><%= player.minpg.round(1) %></td>
        <td><%= player.pts %></td>
        <td><%= player.ppg.round(1) %></td>
        <td><%= player.fgm %></td>
        <td><%= player.fga %></td>
        <td><%= player.fgpg.round(1) %>%</td>
        <td><%= player.three_m %></td>
        <td><%= player.three_a %></td>
        <td><%= player.threepg.round(1) %>%</td>
        <td><%= player.ftm %></td>
        <td><%= player.fta %></td>
        <td><%= player.ftpg.round(1) %>%</td>
        <td><%= player.ofr %></td>
        <td><%= player.dfr %></td>
        <td><%= player.tor %></td>
        <td><%= player.rpg.round(2) %></td>
        <td><%= player.assist %></td>
        <td><%= player.apg.round(2) %></td>
        <td><%= player.tover %></td>
        <td><%= player.steal %></td>
        <td><%= player.stpg.round(2) %></td>
        <td><%= player.blockshot %></td>
        <td><%= player.bspg.round(2) %></td>
        <td><%= player.foul %></td>
      </tr>
    </tbody>
  <% end %>
</table>