<% provide(:placeholder, "新しい投稿．．．") %>
<% provide(:value, "") %>
<% provide(:submit, "投稿") %>
<% if logged_in? %>
  <div class="title-bar">
    <h1>
      <%= link_to current_player.name, player_path(current_player), class: "hover-white" %>
    </h1>
  </div>
  <div class="player-background text-white">
    <div class="container body-container">
      <div class="row">
        <aside class="col-md-4">
          <section class="micropost_form">
            <%= render 'shared/micropost_form' %>
          </section>
        </aside>
        <div class="col-md-8">
          <%= render 'shared/feed' %>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Team App</h1>
        <h2 class="masthead-subheading mb-0">Will Help Your Team Management</h2>
        <%= link_to "Sign up!", team_login_path, class: "btn btn-default btn-xl rounded-pill mt-5" %>
      </div>
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
  
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-lg-push-6">
          <div class="p-5">
            <%= image_tag("blue0031.png", alt: "", class: "img-responsive img-circle") %>
          </div>
        </div>
        <div class="col-lg-6 col-lg-pull-6">
          <div class="p-5">
            <h2 class="display-4">About Team App...</h2>
            <p>Team App is the application for those who play sports. 
            You can manage your team, make contact with other teams, and communicate with other players.
            Not only people playing sports but also people not playing any sports can enjoy Team App.
            Everyone can search interested teams and players, get information about those teams and players at any time.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <%= image_tag("blue0031.png", alt: "", class: "img-responsive img-circle") %>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Manage your team!</h2>
            <p>Create new player account and choose the team you belong to.
            If you don't have a team account, create a new team account.
            Then you can manage your team like following other teams, 
            sending messages, posting some information, and challenging other team to a game.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-lg-push-6">
          <div class="p-5">
            <%= image_tag("blue0031.png", alt: "", class: "img-responsive img-circle") %>
          </div>
        </div>
        <div class="col-lg-6 col-lg-pull-6">
          <div class="p-5">
            <h2 class="display-4">Search teams and players!</h2>
            <p>You don't have to create an account if you don't play any sports.
            Everyone can get information about interested teams and players in this application.
            Team App is the application for people not only playing sports but also being interested in sports.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>