<% provide(:title, "Log in Team") %>
<div class="player-background text-white">
  <div class="title-bar">
    <h1>チームを選択する</h1>
  </div>
  <div class="container body-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(:team_session, url: team_login_path) do |f| %>
      
          <%= f.label :name, "チーム名" %>
          <%= f.text_field :name, class: 'form-control' %>
        
          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class: 'form-control' %>
    
          <%= f.submit "次へ", class: "btn btn-orange" %>
        <% end %>
    
        <p>チームを持っていない場合： <%= link_to "チームを作成する", new_team_path, class: "hover-white" %></p>
      </div>
    </div>
  </div>
</div>