<div class="col-sm-4 text-center mb-4">
  <div class="thumbnail">
    <%= link_to gravatar_for(player, size: 150), player, class:"rounded-circle img-fluid d-block center-block" %>
    <div class="caption">
    <h4>#<%= player.number %> <%= link_to player.name, player, class: "hover-black" %></h4>
    <p><%= player.grade %>年 / <%= player.position %> /<%= player.height %>cm/<%= player.weight %>kg<br>/ <%= player.old_school %></p>
    </div>
  </div>
</div>