<div class="col-sm-6">
  <li class="player-index">
    <%#= gravatar_for player, size: 50 %>
    <%= link_to player.name, player, class: "hover-white bold" %>
    <br><p><%= player.grade %>年 / <%= player.position %> /<%= player.height %>cm/<%= player.weight %>kg/ <%= player.old_school %></p>
  </li>
</div>