<% provide(:title, 'Player Stats') %>
<div class="player-background text-white">
  <div class="title-bar">
    <h1>スタッツ</h1>
  </div>
  <div class="container body-container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>今日の試合のスタッツを入力してください</p>
        <%= form_for(@player, url: update_stats_player_path) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
      
          <%= f.label :play_time, "プレイ時間" %>
          <%= f.text_field :play_time, class: 'form-control', placeholder: "分単位で入力してください" %>
      
          <%= f.label :fgm, "フィールドゴール成功数" %>
          <%= f.text_field :fgm, class: 'form-control' %>
        
          <%= f.label :fga, "フィールドゴール試投数" %>
          <%= f.text_field :fga, class: 'form-control' %>
      
          <%= f.label :three_m, "3Pシュート成功数" %>
          <%= f.text_field :three_m, class: 'form-control' %>
        
          <%= f.label :three_a, "3Pシュート試投数" %>
          <%= f.text_field :three_a, class: 'form-control' %>
      
          <%= f.label :ftm, "フリースロー成功数" %>
          <%= f.text_field :ftm, class: 'form-control' %>
      
          <%= f.label :fta, "フリースロー試投数" %>
          <%= f.text_field :fta, class: 'form-control' %>
          
          <%= f.label :ofr, "オフェンスリバウンド" %>
          <%= f.text_field :ofr, class: 'form-control' %>
      
          <%= f.label :dfr, "ディフェンスリバウンド" %>
          <%= f.text_field :dfr, class: 'form-control' %>
        
          <%= f.label :assist, "アシスト数" %>
          <%= f.text_field :assist, class: 'form-control' %>
      
          <%= f.label :tover, "ターンオーバー" %>
          <%= f.text_field :tover, class: 'form-control' %>
        
          <%= f.label :steal, "スティール" %>
          <%= f.text_field :steal, class: 'form-control' %>
      
          <%= f.label :blockshot, "ブロック" %>
          <%= f.text_field :blockshot, class: 'form-control' %>
      
          <%= f.label :foul, "ファウル" %>
          <%= f.text_field :foul, class: 'form-control' %>
      
          <%= f.submit '変更を保存する', class: "btn btn-orange" %>
        <% end %>
      </div>
    </div>
  </div>
</div>